@import '../../../theme/variables.scss';
.container {
    width: 60%;
    margin-top: 5vh;
    margin-right: 10%;
}


h1{
  font-family: noticia text, serif;
}
table {
  width: 100%;

}
  th{
  background-color: $terciary-color!important;
}


@media screen and (max-width: 820px) {
  .menu{
    display: none;
  }

  .container{
    width: 100%;
  }
}

@media (min-width: 576px){
  .container{
    max-width: 100%;
  }
}