<ion-content>
    <app-header></app-header>
    <div class="container">
        <h1>Bem vindo administrador(a)!</h1>
        <h3>
            Aqui é possivel você visualizar materiais que foram cadastrados e estão em triagem, no
            caso:
        </h3>
        <ul>
            <li>O material pode ser aprovado e será publicado na biblioteca</li>
            <li>Retornar para edição de quem o crio</li>
            <li>Negado</li>
        </ul>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="materiais">
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>id</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef>titulo</th>
                    <td mat-cell *matCellDef="let element">{{element.titulo}}</td>
                </ng-container>

                <ng-container matColumnDef="colaborador">
                    <th mat-header-cell *matHeaderCellDef>Colaborador</th>
                    <td mat-cell *matCellDef="let element">{{element.colaborador}}</td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef>Acao</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="button-menu" mat-button [matMenuTriggerFor]="menu">▾</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="aprovar(element.id)">Aprovar</button>
                            <button mat-menu-item (click)="reprovar(element.id)">Reprovar</button>
                            <button  mat-menu-item (click)="openDialog(element.id)">Ver detalhes</button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator
                [pageSize]="pageSize"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
            >
            </mat-paginator>
        </div>
    </div>
</ion-content>
