<ion-header [translucent]="true">
    <div class="container-header">
        <div>
            <img src="../../../assets/icon/favicon.png" alt="" height="90vh" />
        </div>
        <menu>
            <a [routerLink]="['/home']">Inicio</a>
            <a *ngIf="!loggedUser" [routerLink]="['/auth']">Fazer cadastro</a>
            <a *ngIf="loggedUser" [routerLink]="['/auth']">Cadastrar Material</a>
            <!--If caso esteja logado e caso não-->
            <div class="user" *ngIf="loggedUser">
                <button class="button-menu" mat-button [matMenuTriggerFor]="menu">▾</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="paraUsuario()">Editar Perfil</button>
                    <button *ngIf="isAdmin" (click)="paraAdministrador()" mat-menu-item>Pagina do admin</button>
                    <button mat-menu-item >Meus materiais</button>
                    <button mat-menu-item (click)="logout()">Sair</button>
                    <button class="novo-menu" mat-menu-item>Inicio</button>
                </mat-menu>
            </div>
        </menu>
    </div>
</ion-header>
