<ion-header [translucent]="true">
    <div class="container-header">
        <div>
            <img src="../../../assets/icon/favicon.png" alt="" height="90vh" />
        </div>
        <menu>
            <a href="">Inicio</a>
            <a href="">Cadastrar</a>

            <!--If caso esteja logado e caso não-->
            <div class="user">
                <button class="button-menu" mat-button [matMenuTriggerFor]="menu">▾</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Editar Perfil</button>
                    <button mat-menu-item>Fazer cadastro</button>
                    <button class="novo-menu" mat-menu-item>Inicio</button>
                </mat-menu>
            </div>
        </menu>
    </div>
</ion-header>
