@import '../../../theme/variables.scss';

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

.sidenav{
  width: 20rem;
}

.burguer {
    display: none;
    margin-left: 0.5rem;
    margin-top: 3vh;
}

.menu {
    border-right: 1px solid $color-primary;
    width: 15%;
    .buttons {
        margin-top: -50%;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 970px) {
    .menu {
        display: none;
    }
    .burguer {
        display: block;
    }
}
