@import '../../../theme/variables.scss';

.dropdown {
    position: relative;
    display: inline-block;
    margin: none;
}

.dropbtn {
    font-size: 15pt;
    color: $primary-contrast;
    background-color: $color-primary;
    border-radius: 0;
    transition: none;
}

.dropbtn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px; /* Ajuste a altura da sublinha conforme necessário */
    width: 0;
    height: 0.1rem; /* Ajuste a espessura da sublinha conforme necessário */
    background-color: $primary-contrast; /* Cor da sublinha */
    transition: width 0.3s ease; /* Duração e transição da animação */
}

.dropbtn:hover::after {
    width: 100%; /* A sublinha se expandirá da esquerda para a direita ao passar o mouse */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary-contrast;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.753);
    border-radius: 4px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 9px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #17682e61;
}
