<body>
    <div class="buttons">
        <ion-button class="w-100">Livros</ion-button>
        <ion-button class="w-100">Artigos</ion-button>
        <ion-button class="w-100">Videos</ion-button>
        <ion-button class="w-100">TCC</ion-button>
        <ion-button class="w-100">Reportagens</ion-button>
        <ion-button class="w-100">Sites</ion-button>
        <ion-button class="w-100">Cursos</ion-button>
        <ion-button class="w-100">Produtos educacionais</ion-button>
    </div>
</body>
