<ion-app>
  <ion-split-pane *ngIf="hasSession()" contentId="main-content" class="ion-no-border">
    <ion-menu mode="ios" contentId="main-content" type="overlay" class="ion-no-border border-right">
      <ion-item class="company no-print fixed-menu mt-3 mb-3" lines="none">
        <ion-img style="height: 60px; width: 60px; margin: auto;" class="pb-2 pt-1" src="assets/icon/favicon.png">
        </ion-img>
      </ion-item>
      <ion-content class="fixed-menu no-print">
        <ion-menu-toggle auto-hide="false">
          <div class="text-center mt-2 pointer" outerDirection="root" [routerLink]="[p.url]" style="height: 60px;"
            *ngFor="let p of appPages; let i = index">
            <ion-icon style="margin-right: 20px!important; margin-left: 20px!important;" slot="start" [icon]="p.icon">
            </ion-icon>
            <div style="float: left; margin-top: -8px;" class="text-center w-100">
              <label class="menu-label" style="font-size: 12px;">{{p.title}}</label>
            </div>
          </div>
          <div class="text-center mt-2 pointer" (click)="presentAlert()" outerDirection="root" style="height: 60px;">
            <ion-icon style="margin-right: 20px!important; margin-left: 20px!important;" slot="start" [icon]="'exit'">
            </ion-icon>
            <div style="float: left; margin-top: -8px;" class="text-center w-100">
              <label class="menu-label" style="font-size: 12px;">{{ exitTitle }}</label>
            </div>
          </div>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="!hasSession()"></ion-router-outlet>
</ion-app>
