<ion-toolbar id="button-toolbar" *ngIf="isMobile">
  <ion-menu-button class="ml-2" slot="start"></ion-menu-button>
</ion-toolbar>

<ion-content>
  <div style="display: flex; flex-direction: row; margin-top: 1vh;">
    <p-dropdown class="mr-3" [(ngModel)]="turmaSelecionada" [options]="turmas" optionValue="id" optionLabel="nome"
      placeholder="{{ 'furbot.selecioneTurma' | translate }}" (ngModelChange)="update()"></p-dropdown>
    <p-dropdown class="mr-3" *ngIf="professor" [(ngModel)]="alunoSelecionado" [disabled]="!turmaSelecionada" (ngModelChange)="doUpdate()"
      [options]="alunos" optionValue="id" optionLabel="nome" placeholder="{{ 'furbot.selecioneAluno' | translate }}"
      emptyFilterMessage="Carregando...">
    </p-dropdown>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-subtitle>{{ 'furbot.faseMedia' | translate }}</ion-card-subtitle>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ion-card-title *ngIf="!isLoading" style="font-size: 55px">{{metricas[0]}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-3">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-subtitle>{{ 'furbot.totalDeAlunos' | translate }}</ion-card-subtitle>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ion-card-title *ngIf="!isLoading" style="font-size: 55px">{{metricas[1]}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-3">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-subtitle>{{ 'furbot.mediaDeEnergia' | translate }}</ion-card-subtitle>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ion-card-title *ngIf="!isLoading" style="font-size: 55px">{{metricas[2]}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-3">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-subtitle>{{ 'furbot.mediaDePontos' | translate }}</ion-card-subtitle>
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <ion-card-title *ngIf="!isLoading" style="font-size: 55px">{{metricas[3]}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-title>{{ 'furbot.tempoDeJogo' | translate }}</ion-card-title>
          <ion-card-subtitle style="text-transform: none;" *ngIf="professor">{{ 'furbot.removerAlunoDoGrafico' | translate }}
          </ion-card-subtitle>
          <app-grafico-tempo-jogo [turmaSelecionada]="turmaSelecionada" [alunoSelecionado]="alunoSelecionado"
            [timestamp]="timestamp">
          </app-grafico-tempo-jogo>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-title>{{ 'furbot.reinicioDeFase' | translate }}</ion-card-title>
          <ion-card-subtitle style="text-transform: none;" *ngIf="professor">{{ 'furbot.removerAlunoDoGrafico' | translate }}
          </ion-card-subtitle>
          <app-reinicio-fase [turmaSelecionada]="turmaSelecionada" [alunoSelecionado]="alunoSelecionado"
            [timestamp]="timestamp"></app-reinicio-fase>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-title>{{ 'furbot.clicouEmExecutar' | translate }}</ion-card-title>
          <ion-card-subtitle style="text-transform: none;" *ngIf="professor">{{ 'furbot.removerAlunoDoGrafico' | translate }}
          </ion-card-subtitle>
          <app-clicou-em-executar [turmaSelecionada]="turmaSelecionada" [alunoSelecionado]="alunoSelecionado"
            [timestamp]="timestamp">
          </app-clicou-em-executar>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-title>{{ 'furbot.errosDeCompilacao' | translate }}</ion-card-title>
          <ion-card-subtitle style="text-transform: none;" *ngIf="professor">{{ 'furbot.removerAlunoDoGrafico' | translate }}
          </ion-card-subtitle>
          <app-erro-de-compilacao [turmaSelecionada]="turmaSelecionada" [alunoSelecionado]="alunoSelecionado"
            [timestamp]="timestamp">
          </app-erro-de-compilacao>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-title>{{ 'furbot.errosDeExecucao' | translate }}</ion-card-title>
          <ion-card-subtitle style="text-transform: none;" *ngIf="professor">{{ 'furbot.removerAlunoDoGrafico' | translate }}
          </ion-card-subtitle>
          <app-erro-de-execucao [turmaSelecionada]="turmaSelecionada" [alunoSelecionado]="alunoSelecionado"
            [timestamp]="timestamp">
          </app-erro-de-execucao>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-md-6">
      <ion-card mode="ios">
        <ion-card-header class="text-center">
          <ion-card-title>{{ 'furbot.escreveuCodigo' | translate }}</ion-card-title>
          <ion-card-subtitle style="text-transform: none;" *ngIf="professor">{{ 'furbot.removerAlunoDoGrafico' | translate }}
          </ion-card-subtitle>
          <app-escreveu-codigo [turmaSelecionada]="turmaSelecionada" [alunoSelecionado]="alunoSelecionado"
            [timestamp]="timestamp"></app-escreveu-codigo>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
