@import '../../theme/variables.scss';
.container {
    width: 60%;
    margin-top: 10vh;
    margin-right: 10%;

    .filtro {
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
        padding: 16px;

        .pesquisa {
            height: 80%;
            width: 80%;
            background-color: $primary-contrast;
            padding: 16px;

            .input {
                width: 100%;
            }
        }
    }
    .conteudo {
        border: 1px solid $color-primary;
        height: 50vh;
    }
}

@media screen and (max-width: 820px) {
  .menu{
    display: none;
  }

  .container{
    width: 100%;
  }
}

@media (min-width: 576px){
  .container{
    max-width: 100%;
  }
}
