<ion-content>
  <ion-toolbar id="button-toolbar" *ngIf="isMobile">
    <ion-menu-button class="ml-2" slot="start"></ion-menu-button>
  </ion-toolbar>
  <div class="container-fluid">
    <ion-card mode="md" class="no-border">
      <ion-card-header class="p-0 pt-3">
        <ion-item lines="none">
          <ion-label>
            <ion-card-title style="font-size: 20px;">{{'furbot.alteracao.de.dados' | translate}}</ion-card-title>
            <ion-card-subtitle style="font-size: 12px;">{{'furbot.informe.os.dados' | translate}}
            </ion-card-subtitle>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formGroup">
          <div class="row mt-4">
            <div class="col-md-6 field">
              <span class="p-float-label">
                <input class="w-100" type="text" pInputText formControlName="nome" autocomplete="off">
                <label>{{'furbot.nome' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('nome')"
                [errorMessages]="{required: 'Este campo é obrigatório.', maxlength: 'O nome não pode conter mais de 150 caracteres.'}">
              </app-validador>
            </div>
            <div class="col-md-6 field">
              <span class="p-float-label">
                <input class="w-100" type="text" pInputText formControlName="usuario" autocomplete="off">
                <label>{{'furbot.usuarioPerfil' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('usuario')"
                [errorMessages]="{required: 'Este campo é obrigatório.', maxlength: 'O usuário não pode conter mais de 50 caracteres.'}">
              </app-validador>
            </div>

            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <p-dropdown appendTo="body" [options]="generos" [style]="{'minWidth':'100%'}" class="w-100"
                  formControlName="genero" optionLabel="name" optionValue="valor"></p-dropdown>
                <label for="float-input">{{'furbot.genero' | translate}}</label>
              </span>
            </div>
            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <input class="w-100" type="text" pInputText formControlName="email" autocomplete="off">
                <label>{{'furbot.email' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('email')"
                [errorMessages]="{required: 'Este campo é obrigatório.'}">
              </app-validador>
            </div>
            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <p-calendar formControlName="dataNascimento" class="w-100" [style]="{'minWidth':'100%'}"
                  appendTo="body">
                </p-calendar>
                <label for="float-input">{{'furbot.dataNascimento' | translate}}</label>
              </span>
            </div>
            <div class="col-md-6 mt-3 field">
              <span class="p-float-label">
                <input id="float-input" class="w-100" type="text" pInputText formControlName="senha" autocomplete="off">
                <label for="float-input">{{'furbot.login.senha' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('senha')"
                [errorMessages]="{required: 'Este campo é obrigatório.', maxlength: 'A senha não pode conter mais de 18 caracteres.'}">
              </app-validador>
            </div>
          </div>
          <div class="text-left mt-3">
            <ion-button [disabled]="formGroup.disabled" (click)="update()">{{(formGroup.disabled ?
              'furbot.aguarde' :
              'furbot.salvar') | translate}}
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
