<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth" text="{{ 'furbot.voltar' | translate }}"></ion-back-button>
    </ion-buttons>
    <!-- <ion-spinner *ngIf="isSaving" color="primary"></ion-spinner> -->
  </ion-toolbar>
  <div class="container-fluid">
    <ion-card mode="md" class="no-border">
      <ion-card-header class="p-0 pt-3">
        <ion-item lines="none">
          <ion-label>
            <ion-card-title style="font-size: 20px;">{{ 'furbot.cadastroDeUsuario' | translate }}</ion-card-title>
            <ion-card-subtitle style="font-size: 12px;">{{ 'furbot.informeOsDadosParaAcessar' | translate }}</ion-card-subtitle>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formGroup">
          <div class="row mt-4">
            <div class="col-md-6 field">
              <span class="p-float-label">
                <input class="w-100" type="text" pInputText formControlName="nome" autocomplete="off">
                <label class="required">{{'furbot.nome' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('nome')"
                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthNome' | translate)}">
              </app-validador>
            </div>
            <div class="col-md-6 field">
              <span class="p-float-label">
                <input class="w-100" type="text" pInputText formControlName="usuario" autocomplete="off">
                <label class="required">{{'furbot.usuario' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('usuario')"
                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthUsuario' | translate)}">
              </app-validador>
            </div>
            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <p-dropdown [options]="perfil" [style]="{'minWidth':'100%'}" class="w-100" formControlName="perfil"
                  optionLabel="label" optionValue="value"></p-dropdown>
                <label for="float-input" class="required">{{'furbot.perfil' | translate}}</label>
              </span>
            </div>
            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <p-dropdown [options]="genero" [style]="{'minWidth':'100%'}" class="w-100" formControlName="genero"
                  optionLabel="label" optionValue="value"></p-dropdown>
                <label for="float-input">{{'furbot.genero' | translate}}</label>
              </span>
            </div>
            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <input class="w-100" type="text" pInputText formControlName="email" autocomplete="off">
                <label>{{'furbot.email' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('email')"
                [errorMessages]="{required: ('furbot.required' | translate)}">
              </app-validador>
            </div>
            <div class="col-md-6 field mt-3">
              <span class="p-float-label">
                <p-calendar formControlName="dataNascimento" class="w-100" [style]="{'minWidth':'100%'}"
                  appendTo="body">
                </p-calendar>
                <label for="float-input">{{'furbot.dataNascimento' | translate}}</label>
              </span>
            </div>
            <div class="col-md-6 mt-3 field">
              <span class="p-float-label">
                <input id="float-input" class="w-100" type="text" pInputText formControlName="senha" autocomplete="off">
                <label for="float-input" class="required">{{'furbot.login.senha' | translate}}</label>
              </span>
              <app-validador [control]="formGroup.get('senha')"
                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthSenha' | translate)}">
              </app-validador>
            </div>
          </div>
          <div class="text-left mt-3">
            <ion-button fill="clear" color="dark" (click)="back()">
              {{'furbot.cancelar' | translate}}</ion-button>
            <ion-button [disabled]="formGroup.disabled" (click)="salvar()">{{(formGroup.disabled ?
              'furbot.aguarde' :
              'furbot.salvar') | translate}}
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
