.container-fluid{
    height: 100vh;

    #card-ion{
        height: 100vh;
    }
}

.form{
    width: 100% !important;
    border-bottom: none !important;
    padding: 0 !important;


}
.end{
    display: flex;
    align-items: center;

    span{
        display: flex;
        align-items: center;
    }
}
