<ion-content>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/auth"
                text="{{ 'furbot.voltar' | translate }}"
            ></ion-back-button>
        </ion-buttons>
        <!-- <ion-spinner *ngIf="isSaving" color="primary"></ion-spinner> -->
    </ion-toolbar>
    <div class="container-fluid">
        <ion-card id="card-ion" mode="md" class="no-border">
            <ion-card-header class="p-0 pt-3">
                <ion-item lines="none">
                    <ion-label>
                        <ion-card-title style="font-size: 20px"
                            >{{ 'furbot.cadastroDeUsuario' | translate }}</ion-card-title
                        >
                        <ion-card-subtitle style="font-size: 12px"
                            >{{ 'furbot.informeOsDadosParaAcessar' | translate }}</ion-card-subtitle
                        >
                    </ion-label>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <form [formGroup]="formGroup">
                    <div class="row mt-4">
                        <div class="col-md-6 field">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'furbot.nome' | translate}}</mat-label>
                                <input formControlName="nome" matInput>
                              </mat-form-field>
                            <app-validador
                                [control]="formGroup.get('nome')"
                                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthNome' | translate)}"
                            >
                            </app-validador>
                        </div>
                        <div class="col-md-6 field">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'furbot.usuario' | translate}}</mat-label>
                                <input formControlName="usuario" matInput />
                            </mat-form-field>
                            <app-validador
                                [control]="formGroup.get('usuario')"
                                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthUsuario' | translate)}"
                            >
                            </app-validador>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'furbot.clube' | translate}}</mat-label>
                                <input formControlName="clube" matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'furbot.instituicao' | translate}}</mat-label>
                                <input formControlName="instituicao" matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'furbot.email' | translate}}</mat-label>
                                <input formControlName="email" matInput />
                            </mat-form-field>
                            <app-validador
                                [control]="formGroup.get('email')"
                                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthSenha' | translate)}"
                            >
                            </app-validador>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Telefone</mat-label>
                                <input formControlName="fone" matInput />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mt-3 field">
                            <mat-form-field appearance="outline" class="form">
                                <mat-label>{{'furbot.login.senha' | translate}}</mat-label>
                                <input
                                    matInput
                                    [type]="showSenha ? 'password' : 'text'"
                                    formControlName="senha"
                                />
                                <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="showSenha = !showSenha"
                                    [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="showSenha"
                                >
                                    <mat-icon
                                        >{{showSenha ? 'visibility_off' : 'visibility'}}</mat-icon
                                    >
                                </button>
                            </mat-form-field>
                            <app-validador
                                [control]="formGroup.get('senha')"
                                [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthSenha' | translate)}"
                            >
                            </app-validador>
                        </div>
                    </div>

                    <form [formGroup]="formEndereco" class="address-form row">
                        <!-- <div class="col-md-6 field mt-3">
                            <span class="p-float-label">
                                <input
                                    class="w-100"
                                    type="text"
                                    pInputText
                                    formControlName="cep"
                                    autocomplete="off"
                                    #cep
                                />
                                <label>{{'formEndereco.cep' | translate}}</label>
                            </span>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <ion-button (click)="consultaCep()">pesquisar </ion-button>
                        </div> -->
                        <div class="col-md-6 field mt-3">
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="optionsPais"
                                    (onChange)="defineEstado()"
                                    [style]="{'minWidth':'100%'}"
                                    class="w-100"
                                    formControlName="pais"
                                    optionLabel="label"
                                    optionValue="value"
                                ></p-dropdown>
                                <label class="required">{{'formEndereco.pais' | translate}}</label>
                            </span>
                            <app-validador
                            [control]="formEndereco.get('pais')"
                            [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthUsuario' | translate)}"
                        >
                        </app-validador>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="optionsEstados"
                                    (onChange)="defineCidade()"
                                    [style]="{'minWidth':'100%'}"
                                    class="w-100"
                                    formControlName="estado"
                                    optionLabel="label"
                                    optionValue="value"
                                ></p-dropdown>
                                <label class="required"
                                    >{{'formEndereco.estado' | translate}}</label
                                >
                            </span>
                            <app-validador
                            [control]="formEndereco.get('estado')"
                            [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthUsuario' | translate)}"
                        >
                        </app-validador>
                        </div>
                        <div class="col-md-6 field mt-3">
                            <span class="p-float-label">
                                <p-dropdown
                                    [options]="optionsCidade"
                                    (onChange)="defineEndereco()"
                                    [style]="{'minWidth':'100%'}"
                                    class="w-100"
                                    formControlName="cidade"
                                    optionLabel="label"
                                    optionValue="value"
                                ></p-dropdown>
                                <label class="required"
                                    >{{'formEndereco.cidade' | translate}}</label
                                >
                            </span>
                            <app-validador
                            [control]="formEndereco.get('cidade')"
                            [errorMessages]="{required: ('furbot.required' | translate), maxlength: ('furbot.maxLengthUsuario' | translate)}"
                        >
                        </app-validador>
                        </div>
                        <div class="end col-md-6 field mt-3">
                            <span class="p-float-label">
                                Não achou seu endereço? cadastre
                                <a class="ml-1" routerLink="/auth/criar-endereco"> aqui</a>
                            </span>
                        </div>
                    </form>

                    <div class="text-left mt-3">
                        <ion-button fill="clear" color="dark" (click)="back()">
                            {{'furbot.cancelar' | translate}}</ion-button
                        >
                        <ion-button [disabled]="formGroup.disabled" (click)="salvar()"
                            >{{(formGroup.disabled ? 'furbot.aguarde' : 'furbot.salvar') |
                            translate}}
                        </ion-button>
                    </div>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
